* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;    
    vertical-align: auto;    
    background-color: rgb(23, 24, 16);
    border-radius: 20px 20px;       
}
body {
    background-color: rgb(23, 24, 16);
    margin: auto;     
    padding: auto;    
    margin-top: 100px;    
}
main {
    color: rgb(23, 24, 16);
    width: 700px;    
    margin: auto;
    padding: 10px;
    box-shadow: 1px 5px 5px 8px rgb(3, 250, 110);
    border-radius: 20px 20px;                
}
h2 {
    font-size: 30px;
    color: rgb(3, 250, 110);
}
header{
    text-align: center;
}
img.centro{    
    width: 100px;
    height: 100px;    
}
a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(3, 250, 110);
}
article{   
    text-align: center;     
    color: rgb(255, 255, 255);
    align-items: center;
}